.mainContainer{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    background-color: ghostwhite;
    padding:20px;
}
.leftSection, .rightSection{
    display: flex;
    flex-direction: column;
}
.leftSection{
    flex:2.5;
    padding-left: 60px;
    padding-right: 20px;
    text-align: justify;
}

.rightSection{
    flex:1;
    /* width: 50px; */
    border-radius: 2px solid black;
    object-fit: contain;
    overflow: hidden;
    object-fit: cover;
}

.sectionHeading{
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: darkslategrey;
    font-weight: 600;
    margin-bottom: 50px;
}

.mainContent{
   font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    width: 90%;
}
.disImage{   
    object-fit: cover;
    width: 100%;
}

@media (max-width:760px){
    .mainContainer{
        display:flex;
        flex-direction: column-reverse;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        margin: 0;
    }
    .mainContent{
        width: 100%;
    }
    .leftSection, .rightSection{
        flex:1;
        padding: 0;
        margin: 0;
    }
    .sectionHeading{
        margin-top: 30px;
        font-size: 1.6rem;
        text-align: left;
    }
}